
<div>

<h1>celebrities</h1>
<a href="../celebrities/new">add new</a>
{{#each allCelebritiesFromDB}}
 <br>
 <hr>
    <a href="../celebrities/{{this._id}}"><h1>{{this.name}}</h1></a>
    <br>
    
{{/each}}


</div>